<div class="container">
    <form action="/message" method="POST">
        <input type="text" name="name" placeholder="name" value="{{message.name}}">
        <input type="text" name="message" placeholder="message" value="{{message.message}}">
        <input type="submit" value="Enviar">
    </form>
</div>